
body {
	position: absolute;
	top: -25px;
}

@media  (max-width: 1355px) {
	 body .projectImg {
		width:350px;
	}
	
}




#nav {
	position: relative;
	top:0;
	height:48px;
	background: #333333;
	color:#fff;
	width:100%;
}

.navLi {
	float: left;
	color: #fff;
}
.navLi a {
	color:#fff;
	text-decoration: none;
}
li {
	list-style:none;
}

#header h2 {
	background: #7DD;
	padding-bottom: 25px;
	position: relative;
	color:#fff;
	margin:0;
}

#info {
	width:100%;
}
#github {
	position: absolute;
	right:120px;
}
#linkedIn {
	position: absolute;
	right:40px;
}
#profileImg {
	width:150px;
	height:230px;
	border-radius: 3px;
	border: 1px solid #333;
}
.container {
	width:100%;
}

#contentMaster {
	background: #fff;
	position: relative;
	margin:auto;
}



#projects {
	text-align: center;
	margin:auto;
}

.projectImg {
	width: 270px;
    height: 250px;
    display: inline-block;
    position: relative;
    margin: auto;
    border: 1px solid #888;
    border-radius: 5px;
}

.etsy {
	width:200px;
}
.row {
	width:80%;
	margin:auto;
	margin-top: 30px;
	
}

#footer {
	background: #333333;
	width: 100%;
	height:48px;
	float: left;
}

#footer li {
	float: left;
}

.projects {
	margin-right:13px;
	margin-bottom: 55px;
	height:250px;
	display: inline-block;
	background: #000;
	border-radius: 5px;
	position: relative;
}



.description {
	display: none;
	position: absolute;
	bottom:-25px;
	color:#fff;
	width: 100%;
}

#projectContainer {
	    position: relative;
}
.projects:hover .description {
	display: block;
	position: absolute;

}

.projects:hover img {
	opacity: .3;
}

#master {
	position: relative;
	width:100%;
	margin:auto;
}

#wrapper {
	margin:auto;
}

#test {
	text-align: center;
}


