
body {
	position: absolute;
	top: -25px;
	background:#fdfdfd;
}

@media  (max-width: 1355px) {
	 body .projectImg {
		width:350px;
	}
	
}

#form1 {
	width:350px;
	background: #f7f7f7;
	position: absolute;
	top:239px;
	margin-left:-175px;
	left:50%;
	z-index: 2;
}

.hidden {
	display: none;
}

#form2 {
	width:350px;
	background: #f7f7f7;
	margin:auto;
}

.name, .email, .message {
	width:80%;
}

#message{
	resize:none;
	
}

#nav {
	position: relative;
	top:0;
	height:48px;
	background: #333333;
	color:#fff;
	width:100%;
}

#contact {
	position: absolute;
	right:190px;
}

.navLi {
	float: left;
	color: #fff;
}
 a {
	
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
li {
	list-style:none;
}

#header {
	background: #7DD;
	position: relative;
}
#header h2 {

	
	padding-bottom: 35px;
	position: relative;
	top:20px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	color:#fff;
	margin:0;
}

#info {
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	
}
#github {
	position: absolute;
	right:120px;
}
#linkedIn {
	position: absolute;
	right:40px;
}
#profileImg {
	width:170px;
	height:230px;
	position: relative;
	top: 20px;
	display: block;
	margin:auto;
	border-radius: 3px;
	border: 1px solid #333;
}
.container {
	width:100%;
}

#contentMaster {
	background: #fff;
	position: relative;
	margin:auto;
}



#projects {
	text-align: center;
	margin:auto;
}

.projectImg {
	width: 333px;
    height: 250px;
    display: inline-block;
    position: relative;
    margin: auto;
    border: 1px solid #888;
    border-radius: 2px;
}

.etsy {
	width:200px;
}
.row {
	width:80%;
	margin:auto;
	margin-top: 30px;
	
}

#footer {
	background: #333333;
	width: 100%;
	height:48px;
	float: left;
}

#footer li {
	float: left;
}

.projects {
	margin-right:13px;
	margin-bottom: 55px;
	height:250px;
	display: inline-block;
	background: #000;
	border-radius: 5px;
	position: relative;
}



.description {
	display: none;
	position: absolute;
	bottom:-25px;
	color:#fff;
	width: 100%;
}

#projectContainer {
	    position: relative;
}
.projects:hover .description {
	display: block;
	position: absolute;

}

img {
	background: #000;
}
.projects:hover img {
	opacity: .3;
	background: #000;
}

#master {
	position: relative;
	width:100%;
	margin:auto;
}


#test {
	text-align: center;
}


