
body {

}
#nav {
	position: relative;
	top:0;
	height:48px;
	background: #333333;
	color:#fff;
	width:100%;
}

.navLi {
	float: left;
	color: #fff;
}
.navLi a {
	color:#fff;
	text-decoration: none;
}
li {
	list-style:none;
}

#header h2 {
	background: #7DD;
	height:200px;
	position: relative;
	color:#fff;
	margin:0;
}

#github {
	position: absolute;
	right:120px;
}
#linkedIn {
	position: absolute;
	right:40px;
}
#profileImg {
	width:150px;
	height:230px;
}
.container {
	width:100%;
}

#contentMaster {
	background: #fff;
}



#projects {
	text-align: center;
}

.projectImg {
	width:200px;
	display: inline-block;
	margin-bottom: 20px;
}

.etsy {
	width:200px;
}
.row {
	width:80%;
	margin:auto;
	margin-top: 30px;
	background: #f7f7f7;
}

#footer {
	background: #333333;
	width: 100%;
	height:48px;
}

#footer li {
	float: left;
}

.projects {

	margin-bottom: 55px;
	
}